@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1440px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
}

body {
  *::selection,
  div::selection,
  section::selection {
    background: transparent;
  }

  img {
    &::selection {
      background: transparent;
    }
  }
}
